.cct-search-form {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 24px;
    margin-bottom: 24px;
    padding: 16px 0;
}

.cct-search-form .search-filter-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

}

.cct-search-form .search-input-group {
    display: flex;
    justify-content: flex-end;
}

.cct-search-form .search-input-group .search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cct-search-form .search-input-group .search-btn {
    height: fit-content;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cct-search-result {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.case-card {
    background-color: #FFF;
    border-radius: 5px;
    border-radius: 8px;
    width: calc((100% - 40px) /3);
    padding: 32px 24px;
}

.case-card .meta-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    font-size: 12px;
    font-weight: 500;
}

.case-card .meta-info .date {
    color: #667085;

}

.case-card .meta-info .status {
    background: #F1F5F6;
    color: #1D2939;
    padding: 4px 6px;
    border-radius: 4px;
}

.case-card .title a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #1D2939;
}

.cct-pagination {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.cct-pagination a.page {
    background-color: #FFF;
    display: inline-block;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
}

.cct-pagination span.page {
    display: inline-block;
    padding: 12px;
}

.summary-filter-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 24px;
    max-width: 450px !important;
    margin-left: 0 !important;
}

.summary-filter-form #summaryBy {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.summary-filter-form .filter-btn {
    height: fit-content;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.filter-for-year {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 24px;
    max-width: 450px;
}

.filter-for-year input[name="submit_year"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.filter-for-year .filter-btn {
    height: fit-content;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



.cct-details .delay-status span {
    display: inline-block;
    background: #F1F5F6;
    color: #1D2939;
    padding: 4px 6px;
    border-radius: 4px;
    margin: 4px;
}

.cct-details .form-of-corruption span {
    display: inline-block;
    background: #F1F5F6;
    color: #1D2939;
    padding: 4px 6px;
    border-radius: 4px;
    margin: 4px;
}

.cct-details .download-button span {
    display: inline-block;
    margin-right: 8px;
}

.cct-details .download-button span img {
    height: 25px;
}

@media screen and (max-width: 1199px) {
    .cct-search-form {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .cct-search-result .case-card {
        width: calc((100% - 20px) / 2);
    }
}

@media screen and (max-width: 446px) {
    .cct-search-form .search-filter-group {
        flex-direction: column;
        gap: 8px;

    }

    .cct-search-result .case-card {
        width: 100%;
    }
}
