.cct-search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
    padding: 16px 0;
}

.cct-search-form .search-filter-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

}

.cct-search-form .search-input-group {
    display: flex;
    justify-content: flex-end;
}

.cct-search-form .search-input-group .search-btn {
    height: fit-content;
}

.cct-search-result {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.case-card {
    background-color: #FFF;
    border-radius: 5px;
    border-radius: 8px;
    width: calc((100% - 40px) /3);
    padding: 32px 24px;
}

.case-card .meta-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    font-size: 12px;
    font-weight: 500;
}

.case-card .meta-info .date {
    color: #667085;

}

.case-card .meta-info .status {
    background: #F1F5F6;
    color: #1D2939;
    padding: 4px 6px;
    border-radius: 4px;
}

.case-card .title a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #1D2939;
}

.cct-pagination {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.cct-pagination a.page {
    background-color: #FFF;
    display: inline-block;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
}

.cct-pagination span.page {
    display: inline-block;
    padding: 12px;
}

@media screen and (max-width: 1199px) {
    .cct-search-form {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }
}

@media screen and (max-width: 446px) {
    .cct-search-form .search-filter-group {
        flex-direction: column;
        gap: 8px;

    }
}
